{% extends 'base.html' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <p>
        <a href="/livre/add">Ajouter un livre</a>
    </p>

    <p>{{ livres | length }} livre.s</p>
    <table width="100%" border="1" cellspacing="0" cellpadding="10">
        <thead style="text-align: left">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Parution</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.parution }}</td>
                <td>{{ livre.createdAt | date('YYYY-MM-DD HH:mm:ss') }}</td>
                <td>{{ livre.updatedAt | date('YYYY-MM-DD HH:mm:ss') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
